:root {
  --color1: #051826;
  --color2: #1A2D3B;
  --color3: #4B5461;
  --color4Dark: #428073;
  --color4: #1DFD5F;
  --color4Light: #b7d8c1;
  --color5: #ffffff;
}

@font-face {
  font-family: 'Jersey15';
  src: url('/fonts/Jersey_15/Jersey15-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Doto';
  src: url('/fonts/Doto/static/Doto-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('/fonts/Roboto_Mono/static/RobotoMono-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ArtistFont';
  src: url('/fonts/Petit_Formal_Script/PetitFormalScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProgrammerFont';
  src: url('/fonts/Cascadia_Code/CascadiaCode-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TutorFont';
  src: url('/fonts/Love_Ya_Like_A_Sister/LoveYaLikeASister-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MentorFont';
  src: url('/fonts/Lobster/Lobster-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra';
  src: url('/fonts/Chakra_Petch/ChakraPetch-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald/static/Oswald-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  margin: 0;
  color: var(--color5);
  background-color: var(--color2); /* dark purple-blue */
  width: 100%;
  height: 100%;


}

/*.disappear{
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 1.5s;

}
.appear{
  opacity:1;
  filter: blur(0);
  transform: translateY(0);
}*/

@media(prefers-reduced-motion){
  .disappear {
    transition: none;
  }
}


#main-layout {
  --odd-background: var(--color2);
  --even-background: var(--color1);
  --line-height: 1.5rem;
  line-height: var(--line-height);
  background: repeating-linear-gradient(
      var(--odd-background),
      var(--odd-background) var(--line-height),
      var(--even-background) var(--line-height),
      var(--even-background) calc(2 * var(--line-height))
  );
}

h1 {
    color: var(--color4);
    font-family: "Jersey15";
    margin: 4rem 0 1rem 0;
    font-size: 50px;
    text-align: center;
}

@media (min-width: 1500px){
  h1{
    font-size: 4vw;
  }
}

h2 {
  margin: 0;
  font-family: "Doto";
  color: var(--color4);
  font-size: 22px;
}

p {
    color: var(--color4);
    font-family: "RobotoMono";
    /*margin: 0.5rem 0.5rem;*/
    font-size: 16px;
}

#hero-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*min-height: 100vh;*/
  text-align: center;
  box-shadow: 0px 5px 20px var(--color1);
  /*padding: 10%;*/
  width: 100%;
  height: 100%;
 
}

.highlight {
  color: var(--color4Dark);
  animation: highlightAnimation 2s ease-in-out forwards;
}

.highlighted-role {
  color: var(--color2);
  background-color: var(--color4);
}

.contact-icons {
  fill: var(--color4Dark);
  transition: fill 0.5s ease;
  width: 48px;
  height: 48px;
  margin: 0 1rem;
  display:inline;
  position: relative;
}

.contact-icons:hover {
  fill: var(--color4);
}

.highlightable-button{
    color:var(--color4);
    font-family: "Chakra";
    display:flex;
    /*outline: 2px solid var(--color3)*/
    background-color: var(--color2);
    width:100%;
}

.highlightable-button:hover{
    color:var(--color2);
    background-color: var(--color4);
    cursor:pointer;
}

.separator {
    /* Content is centered horizontally */
    align-items: center;
    display: flex;

    /* Used to set the position of text */
    position: relative;

    margin-top: 10px;
    margin-bottom: 5px;
}

.separator__separator {
    border-bottom: 1px solid var(--color3);
    height: 1px;
    width: 100%;
}




/* footer */

:where(footer) {
    width: 100%;
    text-align: center;
    padding: var(--space-sm);
    background-color: hsl(var(--muted));
    box-shadow: var(--shadow-lg);

    & div {
      display: grid;
      place-items: center;
      max-width: 1500px;
      margin-inline: auto;
      gap: var(--space-sm);

      @media (--sm) {
        display: flex;
        justify-content: space-between;
      }

      & a {
        display: flex;
        align-items: center;
        gap: 5px;
        text-decoration: none;
      }
    }
  }

  small {
		font-size: var(--fs-sm);
    color:var(--color3);
	}

  #footer-div {
    /*box-shadow: 0px -6px 6px var(--color1);*/
    outline: 2px solid var(--color3);
  }




@keyframes highlightAnimation {
  0% {
    color: var(--color4Dark);
  }
  75% {
    color: var(--color4Dark);
  }
  100% {
    color: var(--color5);
  }
}