:root {
  --color1: #051826;
  --color2: #1A2D3B;
  --color3: #4B5461;
  --color4Dark: #428073;
  --color4: #1DFD5F;
  --color4Light: #b7d8c1;
  --color5: #ffffff;
}

@font-face {
  font-family: 'Jersey15';
  src: url('/fonts/Jersey_15/Jersey15-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Doto';
  src: url('/fonts/Doto/static/Doto-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('/fonts/Roboto_Mono/static/RobotoMono-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ArtistFont';
  src: url('/fonts/Petit_Formal_Script/PetitFormalScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProgrammerFont';
  src: url('/fonts/Cascadia_Code/CascadiaCode-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TutorFont';
  src: url('/fonts/Love_Ya_Like_A_Sister/LoveYaLikeASister-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MentorFont';
  src: url('/fonts/Lobster/Lobster-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra';
  src: url('/fonts/Chakra_Petch/ChakraPetch-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  color: var(--color5);
  background-color: var(--color2); /* dark purple-blue */
  /*font-family: system-ui, sans-serif;*/
}

h1 {
    color: var(--color4);
    font-family: "Jersey15";
    margin: 0.5rem 0;
    font-size: 50px;
}
h2 {
  margin: 0;
  font-family: "Doto";
  color: var(--color4)
}

p {
    color: var(--color4);
    font-family: "RobotoMono";
    margin: 0.5rem 0.5rem;
    font-size: 20px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  box-shadow: 0px -6px 6px black;
}

.highlight {
  color: var(--color4Dark);
  animation: highlightAnimation 2s ease-in-out forwards;
}

.highlighted-role {
  color: var(--color2);
  background-color: var(--color4);
}

.contact-icons {
  fill: var(--color4Dark);
  transition: fill 0.5s ease;
  width: 48px;
  height: 48px;
  margin: 0 1rem;
  display:inline;
  position: relative;
}

.contact-icons:hover {
  fill: var(--color4);
}




/* footer */

:where(footer) {
    width: 100%;
    text-align: center;
    padding: var(--space-sm);
    background-color: hsl(var(--muted));
    box-shadow: var(--shadow-lg);

    & div {
      display: grid;
      place-items: center;
      max-width: 1500px;
      margin-inline: auto;
      gap: var(--space-sm);

      @media (--sm) {
        display: flex;
        justify-content: space-between;
      }

      & a {
        display: flex;
        align-items: center;
        gap: 5px;
        text-decoration: none;
      }
    }
  }

  small {
		font-size: var(--fs-sm);
    color:var(--color3);
	}

  #footer-div {
    /*box-shadow: 0px -6px 6px var(--color1);*/
    outline: 2px solid var(--color3);
  }




@keyframes highlightAnimation {
  0% {
    color: var(--color4Dark);
  }
  75% {
    color: var(--color4Dark);
  }
  100% {
    color: var(--color5);
  }
}