---
import Layout from '../layouts/Layout.astro';
import footer from '../components/Footer.astro';
import '../styles/global.css';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Experience from '../components/Experience.astro'
import BackToTopBtn from '../components/BackToTopBtn.astro';
import MaxedImage from '../components/MaxedImage.astro';
import CallToAction from '../components/CallToAction.astro';
---

<Layout>
	<div id="foreground">
		<div id="virus-grid"></div>
		<MaxedImage/>
		<BackToTopBtn/>
		<Hero/>
		<Projects/>
		<Experience/>
	</div>
	<CallToAction/>
</Layout>

<style>
	#foreground{
		background-color: var(--color2);
	}

	
</style>

<script>
	
</script>

