---
import CubeScene from '../components/CubeScene.jsx';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Astro + React 3D</title>
  </head>
  <body>
    <h1>3D Cube in Astro with React</h1>
    <CubeScene client:load />
  </body>
</html>
