---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
---
<div id="#call-to-action-cover"/>
<div id="call-to-action-div"><h1>What's next? Up to you.</h1>
<p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit reprehenderit autem dolorum sunt. Maxime magnam totam cupiditate laborum sequi dolor, libero impedit, dolorum dolore nesciunt corrupti nihil natus, voluptates neque? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, accusantium officiis! Quaerat illum exercitationem nulla laudantium repudiandae optio debitis, incidunt expedita, a molestiae quia mollitia illo labore tempora atque facilis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dignissimos mollitia iure unde ullam minus praesentium quis hic, alias vel libero ad impedit. Iste ipsam quibusdam, ullam ab consectetur reprehenderit.</p>
    <div id="footer-div">
        <Footer />
    </div>
</div>




<style>
    #call-to-action-div{
        z-index:-1;
        bottom: 0;
        position: -webkit-sticky;
        position:sticky;
        padding: 5px 0;
        background-color: black;
    }
    #call-to-action-cover{
        position: absolute;
        height: 500px;
        background-image: linear-gradient(to top, transparent 60px, var(--color2) 60px, var(--color2) 0);
    }

</style>