---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
---
<div id="call-to-action-cover"/>
<div id="call-to-action-div">
    <div id="padded-footer" style="padding: 0% 10% 40px;">
        <h1 style="text-align: left">What's next? That's where you come in.</h1>
        <p>I'd love to chat about opportunities, project ideas, or memes. Go ahead, click those buttons (you wanna see what happens).</p>
        <a href="mailto:nalrajab01@gmail.com" class="call-to-action-button">CONTACT ME</a>
        <button id="cool-secret-button" class="call-to-action-button">COOL SECRET BUTTON</button>
        <!--<a href="http://www.cornify.com" onclick="cornify_add();return false;" title="Cornify"><img src="https://www.cornify.com/assets/cornify-button.png" width="82" height="25" border="0" alt="Cornify" /></a><script type="text/javascript" src="https://www.cornify.com/js/cornify.js"></script>-->
    </div>
    <div id="footer-div">
        <Footer />
    </div>
</div>




<style>
    #call-to-action-div{
        z-index:-1;
        bottom: 0;
        position: -webkit-sticky;
        position:sticky;
        background-color: black;
        padding-top: 20px;
    }
    #call-to-action-cover{
        position: absolute;
        background-image: linear-gradient(to top, transparent 60px, var(--color2) 60px, var(--color2) 0);
        padding-top: 20px;
    }

    .call-to-action-button{
        font-size: 30px;
        text-decoration: none;
        outline: inset 2px var(--color4);
        margin-bottom:8px;
        padding:5px;
        width: 100%;
        color:var(--color4);
        font-family: "Chakra";
        display:flex;
        /*outline: 2px solid var(--color3)*/
        background-color: transparent;
        border:none;
        box-sizing: border-box;
        cursor: pointer;
    }
    


</style>

<script>
    const grid = document.getElementById("virus-grid");
	const btn = document.getElementById("cool-secret-button");

    const cellSize=10;
    let cols, rows;
    let cells=[];

    function createGrid(){
        cols=Math.ceil(window.innerWidth/cellSize);
        rows = Math.ceil(window.innerHeight/cellSize);
        grid.style.gridTemplateColumns = `repeat(${cols}, ${cellSize}px)`;
        grid.style.gridTemplateRows = `repeat(${rows}, ${cellSize}px)`;

        for(let r=0; r<rows; r++){
            cells[r] = [];
            for(let c=0; c<cols; c++){
                const cell=document.createElement("div");
                cell.className = "virus-cell";
                grid?.appendChild(cell);
                cells[r][c] = cell;
            }
        }
    }

    function infectScreen(){
        let left=0;
        let right=cols-1;

        const interval = setInterval(() => {
            if(left>right){
                clearInterval(interval);
                return;
            }

            for(let r=0; r<rows; r++){
                if(cells[r][left]) cells[r][left].classList.add("infected");
                if(cells[r][right]) cells[r][right].classList.add("infected");
            }

            left++;
            right--;
        }, 50); // lower=faster
    }

    btn?.addEventListener("click", () => {
        createGrid();
        infectScreen();
    })
</script>
