---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
---
<div id="call-to-action-cover"/>
<div id="call-to-action-div">
    <div id="padded-footer" style="padding: 0% 10%;">
        <h1 style="text-align: left">What's next? That's where you come in.</h1>
        <p>I'd love to chat about opportunities, project ideas, or memes. Go ahead, click that button (you wanna see what happens).</p>
        <button class="highlightable-button" style="font-size: 40px; text-align-center; outline: inset 2px var(--color4); margin-top: 50px;">CONTACT ME</button>
    </div>
    <div id="footer-div">
        <Footer />
    </div>
</div>




<style>
    #call-to-action-div{
        z-index:-1;
        bottom: 0;
        position: -webkit-sticky;
        position:sticky;
        background-color: black;
        padding-top: 20px;
    }
    #call-to-action-cover{
        position: absolute;
        background-image: linear-gradient(to top, transparent 60px, var(--color2) 60px, var(--color2) 0);
        padding-top: 20px;
    }


</style>