---
import '../styles/global.css';
import RightArrow from '../icons/RightArrow.astro';
import LeftArrow from '../icons/LeftArrow.astro';
import XIcon from '../icons/XIcon.astro';
const files = Object.values(import.meta.glob("../projects/*.md", {eager: true}))
---
<div id="popup-div" class="">
    <div>
        <div id="popup-close-btn" onclick="closePopup()">
            <XIcon/>
        </div>
        <span id="popup-window-title"></span>
        
    </div>
    <div class="lateral-arrow-div" id="right-arrow-div" onclick="nextImage()">
    <RightArrow id="popup-left-arrow"/></div>
    <div class="lateral-arrow-div" id="left-arrow-div" onclick="prevImage()">
    <LeftArrow id="popup-right-arrow"/></div>
        {
            files.map((proj:any) => 
            <div id={proj.frontmatter.title.toLowerCase().replace(/\s+/g, '-').replace(/[^\w-]/g, '')+"-popup"}>
                {proj.frontmatter.images.map((imageName:any) => <img src={"/project_images/"+imageName+".png"} alt={imageName} class={proj.frontmatter.title.toLowerCase().replace(/\s+/g, '-').replace(/[^\w-]/g, '')+"-popup-image popup-image"}/>)}
            </div>
        
        )
        }
</div>

<style>
    #popup-div {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.4s ease;

        position: fixed; /* Fixed/sticky position */
        /*top: 50%;  Place the button at the bottom of the page */
        /*right: 50%;  Place the button 30px from the right */
        z-index: 98; /* Make sure it does not overlap */
        background-color: var(--color1); /* Set a background color */
        outline: 5px inset var(--color4Light);
        color: var(--color4); /* Text color */
        font-family: "ProgrammerFont";
        padding: 5px; /* Some padding */
        font-size: 18px; /* Increase font size */

        width: 70%;
        height: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow:hidden;
    }

    #popup-div.show {
        opacity:1;
        pointer-events: auto;
    }

    .lateral-arrow-div{
        border-radius: 10px;
        cursor: pointer;
        background-color: black;
        top: 50%;
        transform: translateY(-50%);
        display: block flex;
        flex-direction: column;
    }
    .lateral-arrow-div:hover{
        background-color: var(--color4);
        color:var(--color4Dark);
    }
    #left-arrow-div{
        position:fixed;
        left: 5px;
    }
    #right-arrow-div{
        position:fixed;
        right: 5px;
    }
    #popup-close-btn{
        outline: 2px solid var(--color4);
        display:inline-block;
        margin:2px;
    }

    #popup-close-btn:hover{
        background-color: var(--color4);
        color:var(--color4Dark);
        cursor:pointer;
    }

    #popup-image-container{
        max-height: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }

    img{
        display:none;
        max-height: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }

    img.show{
        display:block;
    }

    #popup-window-title{
        margin-left: 20px;
        margin-bottom: 10px;
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;

    }


</style>

<script>
    const popupDiv = document.getElementById("popup-div");
    const popupImages = document.getElementsByClassName("popup-image");
    const popupWindowTitle = document.getElementById("popup-window-title");
    let slideIndex = 0;

    function closePopup(){
        let activeProjDiv = document.getElementsByClassName("active")[0];

        popupDiv.classList.remove("show");
        activeProjDiv.classList.remove("active");
        slideIndex=0;

        for(let i=0; i<popupImages.length; i++){
            popupImages[i].classList.remove("show");
        }

    }

    function nextImage(){
        let activeProjDiv = document.getElementsByClassName("active")[0];
        let maxedImages = activeProjDiv.children;

        maxedImages[slideIndex].classList.remove("show");
        slideIndex=(slideIndex+1)%maxedImages.length;
        maxedImages[slideIndex].classList.add("show");

        popupWindowTitle.textContent=maxedImages[slideIndex].alt+".jpg";
    }

    function prevImage(){
        let activeProjDiv = document.getElementsByClassName("active")[0];
        let maxedImages = activeProjDiv.children;

        maxedImages[slideIndex].classList.remove("show");
        slideIndex=(slideIndex-1);
        if(slideIndex<0){slideIndex=maxedImages.length-1;}
        maxedImages[slideIndex].classList.add("show");

        popupWindowTitle.textContent=maxedImages[slideIndex].alt+".jpg";
    }
    window.closePopup = () => closePopup();
    window.nextImage = () => nextImage();
    window.prevImage = () => prevImage();
</script>