---
import type { MarkdownInstance } from 'astro';
import {getEntry} from 'astro:content';

const {slug} = Astro.props
const proj = await getEntry('projects', slug);
export interface Props {
    file: MarkdownInstance;
}

const {file} = Astro.props as Props;


import mdFile from fileURL;
---
<div>
    <h3>{mdFile.frontmatter.title}</h3>
</div>