---
import "../styles/global.css"
---

<label class="custom-checkbox-button">
<!-- The real checkbox -->
<input type="checkbox" class="custom-checkbox-button__input" />

<!-- The fake square -->
<div class="custom-checkbox-button__square">
    <!-- The inner square -->
    <div class="custom-checkbox-button__checkbox "></div> <!-- custom-checkbox-button__checkbox--selected-->
</div>
<p>
    <slot/>
</p>
    
</label>

<style>
    .custom-checkbox-button {
        /* Center the content horizontally */
        align-items: center;
        display: inline-flex;
        min-width:49%;

        /* Cursor */
        cursor: pointer;
    }

    .custom-checkbox-button__input {
        /* Hide it */
        display: none;
    }

    .custom-checkbox-button__square {
        border: 2px solid var(--color4Light);
        /*background-color: var(--color4Dark);*/
        border-radius: 0.25rem;

        /* Spacing */
        margin-right: 0.5rem;
        padding: 0.1rem;
    }

    .custom-checkbox-button__checkbox {
        
        border-radius: 0.12rem;
        height: 0.5rem;
        width: 0.5rem;
    }

    .custom-checkbox-button__checkbox--selected {
        /* For selected checkbox */
        background: radial-gradient(circle, var(--color4) 45%, var(--color4Dark) 60%, var(--color2) 90%);
        
    }

    p{
        font-family: "Chakra";
        color: var(--color4Light);
    }
</style>