---
import Footer from "../components/Footer.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/x-icon">
		<title>Noor Al-Rajab</title>
	</head>
	<body>
		<div id="background-effect" class="horizontal-stripe"/>
		<div class="horizontal-stripe-mask"/>
		<slot />
	</body>
</html>

<style>


</style>
