---
import '../styles/global.css'

export interface Props {
  type: string;
  affiliation: string;
  title: string;
}

const { type, affiliation, title } = Astro.props as Props;
---



<div class="card-layout">
    <div class="card-layout__item">
        <div class="tile-top" style="display:flex; justify-content: space-between">
            <small>{type}</small>
            <small>{affiliation}</small>
             
        </div>
            <h2>
                {title}
            </h2>
        <slot/>
    </div>

</div>

<style>
    .card-layout{
        display:flex;
        margin-left: -0.25rem;
        margin-right: -0.25rem;
        outline: 2px solid var(--color3);
    }
    .card-layout__item{
        flex-basis: 50%;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        
    }
</style>

